<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%if(typeof post !== 'undefined'){%><%=post.title%><%}else{%>404 - RecipeStash<%}%></title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/single.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Header section included from a shared partial file -->
        <%- include('partials/header') %>

        <!-- Main content area -->
        <div class="content">
            <%if(typeof post !== 'undefined'){%>
                <div class="full-post">
                    <div class="post-div">
                        <div class="post">
                            <div class="details">
                                <div class="timestamp"><%=new Date(post.published).toLocaleString()%></div>
                                <div class="username"><a href="/users/<%=post.username%>">by: <%=post.username%></a></div>
                            </div>
                            <div class="title">
                                <h2><%=post.title%></h2>
                                <button class="<%=post.id%>" id="save"><%=(saved?"remove recipe":"save recipe")%></button>
                            </div>
                            <div class="description">
                                <h3><%=post.description%></h3>
                            </div>
                            <div class="body">
                                <div class="ingredients">
                                    <h4>Ingredients:</h4>
                                    <%for(let ing of post.ingredients){%>
                                        <div class="ingredient">
                                            <%=ing.quantity+" "+ing.name%>
                                        </div>
                                    <%}%>
                                </div>
                                <div class="instructions">
                                    <h4>Instructions:</h4>
                                    <%-post.instructions.replaceAll("\n", "<br>")%>
                                </div>
                            </div>
                            <!-- Tags section for navigating to related posts -->
                            <div class="bottom">
                                <%for(let tag of (post.tags||"").split(",")){%>
                                    <a href="/search?q=&tags=<%=tag%>" class="tag">
                                        <%=tag%>
                                    </a>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            <%}else{%>
                <%if(typeof error !== 'undefined'){%>
                    <h1><%=error%></h1>
                <%}else{%>
                    <h1>There was an error fetching this post. Please try again later...</h1>
                <%}%>
            <%}%>
        </div>
    </body>

    <script>
        let saveButton = document.querySelector("#save");

        //event listener for the save button
        saveButton.addEventListener('click', function() {
            console.log(saveButton.classList[0]); //log the post ID
            saveButton.disabled = true; //disable the button during the process

            //check if the user is logged in before making the request
            if(!<%=loggedIn%>){
                saveButton.innerText = "please login first"; //notify the user to log in
                return;
            }

            //send a GET request to save or remove the recipe
            fetch('/user/save/' + saveButton.classList[0] + "/?source=<%if(typeof post !== 'undefined'){if(post.username == 'RecipeStash'){%>spoonacular<%}else{%>internal<%}}%>", {
                method: 'GET',
            })
            .then(response => {
                saveButton.disabled = false; //re-enable the button
                if (!response.ok) {
                    throw new Error('Network response was not ok'); //handle unsuccessful responses
                }
            })
            .then(data => {
                //toggle the button text between saving and removing the recipe
                if(saveButton.innerText == "save recipe"){
                    saveButton.innerText = "remove recipe";
                }else{
                    saveButton.innerText = "save recipe";
                }
            })
            .catch(error => {
                console.error('Error:', error); //log any errors
            });
        });
    </script>
</html>