<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=profileUsername%> - <%=data.siteName%></title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--header from partials-->
        <%- include('partials/header') %>
        <!--header from partials-->

        <div class="content">
            <div class="content-side <%=(myAccount)?'left':''%>">
                <div class="post-div profile-details">
                    <div class="post">
                        <%if(profileUsername == "RecipeStash"){%>
                            <div class="title">
                                <h2>Welcome to RecipeStash!</h2>
                            </div>
                            <div class="ingredients" style="max-height: none; text-wrap: wrap;">
                                RecipeStash is a platform for users to browse and share recipes.<br>
                                The homepage displays random recipes shared by users, and for added variety, from Spoonacular.
                                <br><br>
                                <a href="/register">Sign up</a> to save and share recipes.<br>
                                To view your saved recipes, simply navigate to your profile from the top-right dropdown menu
                                <br><br>
                                <b>Note: Any posts linked to this account are loaded dynamically through Spoonacular's API, with links to the original content on the recipe page. You may save these recipes to view them again.</b>
                            </div>
                        <%} else{%>
                            <div class="title">
                                <h2>User:  <%=profileUsername%></h2>
                            </div>
                            <div class="description">
                                Number of posts: <%=posts.length%>
                                <br>
                                <%=posts.length==0?`${myAccount?"You have":"This user has"} not posted anything yet...`:``%>
                            </div>
                        <%}%>
                    </div>
                </div>
                <%for(let post of posts){%>
                    <%- include('partials/min-post.ejs', { post: post , deletable:myAccount}) %>
                <%}%>
            </div>
            <% if (myAccount) { %>
                <div class="content-side right">
                    <h1>Saved Posts</h1>
                    <% if (savedPosts.length == 0) { %>
                        <h2>Start saving posts and view them here.</h2>
                    <% }else{ %>
                        <%for(let post of savedPosts){%>
                            <%- include('partials/min-post.ejs', { post: post , saved:true}) %>
                        <%}%>
                    <% } %>
                </div>
            <% } %>

        </div>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let saveButtons = document.querySelectorAll(".save");
            for(let button of saveButtons){
                button.addEventListener('click', async function(event) {
                    if (event.target.matches('.save')) {
                        event.stopPropagation();
                        event.preventDefault();
                        console.log(button.classList[0])
                        button.disabled = true;

                        let spoonacular = "?source=internal"
                        if(button.parentElement.parentElement.querySelector(".username").innerText.includes("RecipeStash")){
                            spoonacular = "?source=spoonacular"
                        }

                        fetch('<%=(baseUrl||"")%>/user/save/'+button.classList[0]+spoonacular, {
                            method: 'GET',
                        })
                        .then(response => {
                            button.disabled = false;
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                        })
                        .then(data => {
                            if(button.innerText == "save recipe"){
                                button.innerText = "remove recipe";
                            }else{
                                button.innerText = "save recipe";
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    }
                });
            }

            let deleteButtons = document.querySelectorAll(".delete");
            for(let button of deleteButtons){
                button.addEventListener('click', async function(event) {
                    if (event.target.matches('.delete')){
                        event.stopPropagation();
                        event.preventDefault();

                        if(!confirm("Are you sure you would like to delete this post?"))return;
                        button.disabled = true;

                        fetch(`<%=(baseUrl||"")%>/user/delete/${button.classList[0]}`, {
                            method: 'GET',
                            headers: {
                                'csrf': '<%= typeof(csrfToken)!=="undefined"?csrfToken:"na" %>',
                            },
                        })
                        .then(response => {
                            button.disabled = false;
                            if (!response.ok) {
                                throw new Error(response.message);
                            }
                        })
                        .then(data => {
                            button.parentElement.parentElement.remove();
                        })
                        .catch(error => {
                            alert(error);
                            console.error('Error:', error);
                        });
                    }
                });
            }
        });
    </script>
</html>
